export(cluster_data)
export(cluster_data.factanal)
export(cluster_data.prcomp)
export(cluster_data.princomp)
export(plot_cluster)
export(plot_pca)
S3method(cluster_data,default)
S3method(cluster_data,dendrogram)
S3method(cluster_data,hclust)
S3method(cluster_data,kmeans)
S3method(cluster_data,Mclust)
S3method(cluster_data,tree)
