export(cluster_data.kmeans)
export(cluster_data.Mclust)
export(ellipsoid_data)
export(cluster_data)
S3method(cluster_data, hclust)
S3method(cluster_data, dendrogram)
export(cluster_data.princomp)
export(cluster_data.prcomp)
export(cluster_data.factanal)
export(plot_pca)
export(plot_cluster)
S3method(cluster_data, tree)
